<div class="is-flex-column">
  <form action="/quiz" method="post">
    <p class="subtitle">Ingresa el número de preguntas</p>
    <label for="question_number"></label>
    <input class="input" type="number" name="question_number" id="question_number"/>
    <button class="button is-info is-fullwidth margin-horizontal" type="submit">Enviar</button>
  </form>
</div>